<% provide :form_url, organizations_path %>
<% provide :submit_text, "Create new organization" %>

<h1>New organization</h1>

<%= render 'form' %>
<br />
<%= link_to 'Index of organizations', organizations_path %>

