<!DOCTYPE html>
<html>
  <body>

      <ul class="nav-bar">
        <li>
          <%= link_to "events" , events_path%>
        </li>
        <li>
          <%= link_to "people" , people_path%>
        </li>
      </ul>

    <%= yield   %>
  
  </body>
</html>
