<DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form>
      <input type="number" id="a">
      <input type="number" id="b">
      <input type="number" id="c">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
