<h1><center>All documents</center></h1>
<table>
  <% @documents.each do |document| %>
    <h3>Title</h3>
    <p><%= document.title %></p>
    <h3>About</h3>
    <p><%= document.about %></p>
    <h3>Text</h3>
    <p><%= document.text %></p>
    <p><%= link_to 'Show', documents_path(document) %></p>
    <p>----------------------------------------------------------------------</p>
  <% end %>
</table>