<h1>Welcome to the document uploading comunity!</h1>

<p>
  <%=@greeting %>, we believe that you just registered to our site!
  <br>
  If so, let us know that it's really you by simply moving your mouse
  <br>
  ontop of the link below and clicking the left mouse button!
</p>

<%=link_to 'Verify it\'s you!', 'localhost:3000/'%>
