<h1> Create new organization </h1>

<%= form_for @organization do |org| %>
    <p>
        <%= org.label :name %>
        <br>
        <%= org.text_field :name %>
    </p>

    <p>
        <%= org.submit %>
    </p>
<% end %>
