<h1>An events app by Ilia Parvanov</h1>
<p style="font-size: 18px;"><%= link_to 'Organisations', organisations_path %> | <%= link_to 'People', people_path %> | <%= link_to 'Events', events_path %></p>
