<h1>Cats#show</h1>
<%= CatsController.test %>
<p>Find me in app/views/cats/show.html.erb</p>

  Name: <%= @cat.name %> <br/>
  Weight: <%= @cat.weight %> <br/>
  <br/>

  <%= link_to 'Back to all cats', cats_path %>
