<h1>Documents</h1>

<% @documents.each do |document| %>
  Title: <%= link_to document.title, document_path(document) %> <br/>
  Text: <%= document.text %><br>
  <br>
<% end %>

<%= link_to 'Create new document', new_document_path %>

<br>
<br>

<%= link_to 'Back to main page', root_path %>
