<h1><%= @document.name %></h1>

<p>
   <strong>Discription: </strong> <%= @document.discription %><br />
  
</p>

<p><strong>File content:</strong> <%= @file_content %></p>

<hr />

<%= link_to 'Back', {:action => 'index'} %>
