<h1>QuadraticSolver</h1>

<% if one_x==0 %>
    <p style="font-size: 24px;">Result: <%=x1%>,<%=x2%></p>
<% else %>
    <p style="font-size: 24px;">Result: <%=x1%></p>
<% end %>
<a href='/calculations/solve'>Make a new calculation</a>
