// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cont {
	margin-right: 55%;
	position: relative;
	left: 25%; 
	background-color: lightgreen; 
	font-size: 18px;
	white-space: pre-line;
	padding: 5px;
	padding-left: 20px;
}

#label{
	position: relative; 
	left:44%; 
	font-weight: bold;
}


