.events h2.eventname a {
  margin-top: 10px;
  margin: 0;
  padding: 12px 24px;
  font-size: 20px;
  display: inline;
  background: none;
  color: #f2580b;
}

.events a {
  margin: 0 46%;
  background-color: #f2580b;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  display: inline-block;
}

.management form, .management a {
  display: inline;
  margin: 0 
}

.events {
  margin-top: 3%;
}