// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solid lightgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 100px;
  padding: 16px;
  transition: border 0.5s;
  width: calc(100% - 32px);
}

form textarea:focus {
  border: 1px solid #0084d7;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}