<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<% @documents.each do |d| %>
		Name: <%= d.name %> <br>
		Name: <%= d.description %> <br>
		<%= truncate(d.text, :length => 100) %><br><br>
	<% end %>
</body>
</html>