// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.subscribed
{
    background-color: antiquewhite  ;
    margin: 30px;
    padding: 10px;
    display: inline;
    text-align: center;
    border-radius: 15px;
}

.personal
{
    float: left;
}

.group
{
    float: right;
}

.wrapper
{
    margin: 30px;
}

#new-events
{
    clear: both;
}

