<DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form>
      a:<br>
      <input type="number" id="a">
      b:<br>
      <input type="number" id="b">
      c:<br>
      <input type="number" id="c">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
